* {
    margin: 0;
    padding: 0 ;
    font-family: 'Roboto', sans-serif;
}

body {
}

header {
    background-color: #344e75;
    padding: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 600;
}

nav img {
    width: 100px;
    padding: 0px 900px 0px 0px  ;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    padding: 0px 40px 0px 40px;
    color: white;
}

a:hover{
    color: rgb(189, 189, 189);
    transition: 1.5s;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}

.imagenes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagenes img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

footer {
    background-color: black;
    text-align: center;
    padding: 29px;
}
